<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.msp.mspalert.mapper.AlertMsgInfoMapper">
  <resultMap id="BaseResultMap" type="com.fc.msp.mspalert.entity.AlertMsgInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ALERT_MSG" jdbcType="VARCHAR" property="alertMsg" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ALERT_MSG_ID
  </sql>
  <insert id="insert" parameterType="com.fc.msp.mspalert.entity.AlertMsgInfo">
    insert into user (ID, ALERT_NAME, SYSTEM, DESCRIPTION, STATUS, ALERT_MSG_ID, CREATE_TIME)
    values (
    #{id,jdbcType=VARCHAR},
    #{alertMsg,jdbcType=VARCHAR})
  </insert>
</mapper>